
#primary-nav ul {
  padding-left: 0;
  margin: 0;
  margin-left: 500px;
  display: flex;
  justify-content: space-evenly;

} body{
    min-height: 100vh;
    margin-top: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
.site-name{
    font-size: 2em;
    color:#CD5409;
    margin-top: 20px;
    margin-left:  10px;
  }

 .header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: lem;
    flex-direction: column;
    text-align: center;
  
  }
  .site-name{
    font-size: 2em;
    color:#CD5409;
    margin:  10px;
    margin-top: 50px;
  }
#primary-nav li {
  list-style: none;
  display: inline-block;
}
#primary-nav a {
  background-color: #6fa2d2;
  color: #0b2760;
  display: block;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 767px) {
  #primary-nav li {
    display: block;
  }
}
